* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body { 
    overflow-x:hidden; 
}



#hero {
    background-image: url("./images/bg1.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    font-family: Montserrat;
    font-weight: 500;
}




 